@include mq {
  .Home {
    background-image: url("../assets/home_bg.png");
    background-size: auto;
    background-repeat: no-repeat;
    height: 100vh;
    .content {
      height: 100vh;
      padding: 0 19px;
      padding-top: 44px;
      [data-radix-scroll-area-viewport] {
        > div {
          min-height: 100%;
          display: flex !important;
          flex-direction: column;
          align-items: center;
        }
      }

      span {
        &:nth-of-type(1) {
          /* The First Bitcoin Layer2 */

          font-family: Raleway-Medium;
          font-size: 26px;
          font-weight: 800;
          line-height: normal;
          text-transform: capitalize;
          letter-spacing: 0em;

          font-feature-settings: "kern" on;
          color: #f58c00;

          z-index: 0;

          margin-top: 60.31px;
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
          font-family: Raleway-Medium;
          font-size: 26px;
          font-weight: 800;
          line-height: normal;
          text-transform: capitalize;
          letter-spacing: 0em;

          font-feature-settings: "kern" on;
          color: #ffffff;

          z-index: 1;
          margin-top: 5px;
        }
        &:nth-of-type(4) {
          /* ROOS Journey MAP1 */

          font-family: Raleway-Medium;
          font-size: 26px;
          font-weight: bold;
          line-height: normal;
          letter-spacing: 0em;

          font-feature-settings: "kern" on;
          color: #f58c00;

          z-index: 0;

          margin-top: 40px;
        }

        &:nth-of-type(5) {
          /* Treasure Your Roosbox */

          /* 自动布局子元素 */
          opacity: 0.5;

          font-family: Raleway-Medium;
          font-size: 16px;
          font-weight: bold;
          line-height: normal;
          letter-spacing: 0em;

          font-feature-settings: "kern" on;
          -webkit-text-stroke: #fff 1px; /* 浏览器可能不支持 */

          z-index: 1;

          margin-top: 20px;
        }

        &:nth-of-type(6) {
          /* Partners */

          /* 自动布局子元素 */

          font-family: Raleway-Medium;
          font-size: 20px;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
          letter-spacing: 0em;

          font-feature-settings: "kern" on;
          color: #666666;

          z-index: 0;
          margin-top: 10px;
        }

        &:nth-of-type(7) {
          /* Permissionless. Frictionless. Boundless. */

          font-family: Raleway-Medium;
          font-size: 14px;
          font-weight: 500;
          line-height: normal;
          text-transform: uppercase;
          letter-spacing: 0em;

          font-feature-settings: "kern" on;
          color: #666666;

          z-index: 1;

          margin-top: 20px;
        }
      }

      p {
        /* ROOS is a trustless Bitcoin Layer2 Scaling Solution based on */

        font-family: Raleway-Medium;
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;

        font-feature-settings: "kern" on;
        color: #d5d5d5;

        z-index: 0;

        opacity: 0.8;

        text-align: center;

        &:first-of-type {
          margin-top: 20px;
        }
      }

      .bar {
        width: 171px;
        height: 10px;
        margin-top: 10px;
      }

      .btn {
        /* 矩形 2 */

        width: 240px;
        height: 44px;
        border-radius: 3.49px;
        opacity: 1;

        background: #f58c00;

        box-shadow: 0px 6.98px 69.84px -17px #633800;

        /* Get RoosBOX Now */

        font-family: Raleway-Bold;
        font-size: 14px;
        font-weight: bold;
        line-height: normal;
        text-transform: uppercase;
        letter-spacing: 0em;

        font-feature-settings: "kern" on;
        color: #000000;

        margin-top: 20px;
      }

      .logo_big {
        width: 170px;
        height: 170px;
        margin-top: 19.92px;

        > img {
          position: absolute;
          top: 0;
          &:first-of-type {
            animation: rotate 20s linear infinite; /* 持续旋转，时间为2秒 */
          }
        }
      }

      .line {
        /* 直线 26 */

        width: 273px;
        height: 0px;
        opacity: 1;

        border: 1px solid #351d01;
        margin-top: 20px;
      }

      .bannerList {
        margin-top: 20px;

        > img,
        .icon {
          width: 133.5px;
          height: 30px;
        }
      }

      .iconList {
        margin-top: 20px;
        padding: 0 23px;
        padding-bottom: 48px;
        > img,
        .icon {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
