.Home {
  position: relative;

  video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;

    &:first-of-type {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      user-select: none;
      object-fit: none;
      display: block;
    }

    &:last-of-type {
      position: absolute;
      top: 0;
      // zIndex: -9;
      background: linear-gradient(
        0deg,
        rgb(0, 0, 0) 12%,
        rgba(0, 0, 0, 0.75) 17%,
        rgba(0, 0, 0, 0.4) 23%,
        rgba(0, 0, 0, 0.28) 32%,
        rgba(0, 0, 0, 0.12) 52%,
        rgb(0, 0, 0) 100%
      );
      display: block;
    }
  }

  .content_1 {
    // margin-left: auto;
    // margin-right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    // max-width: 1372px;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;

    box-sizing: border-box;

    .content_1_1 {
      display: flex;
      flex-direction: column;

      @media (max-width: 425px) {
        align-items: center;
      }
      span {
        color: #ffffff;
        text-align: left;

        @media (max-width: 425px) {
          text-align: center;
        }

        &:nth-child(1) {
          padding-left: 0px;
          padding-right: 0px;
          font-size: 40px;
          line-height: 48px;
          letter-spacing: -0.22rem;

          @media (min-width: 1024px) {
            font-size: 68px;
            line-height: 72px;
            margin-bottom: 1.5rem;
          }
        }

        &:nth-child(2),
        &:nth-child(3) {
          font-size: 16px;
          margin-top: 2.5rem;

          @media (min-width: 1024px) {
            font-size: 22px;
            font-weight: 400;
            line-height: 140%;
            color: #c5c8c7;
            max-width: 790px;
          }
        }
      }

      button {
        margin-top: 2.5rem;
        font-size: 16px;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        border-width: 2px;
        font-family: "GT-Walsheim", sans-serif;
        font-size: 14px;
        text-transform: capitalize;
        line-height: -1%;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        border-radius: 10px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        line-height: 1.75rem;
        --tw-border-opacity: 1;
        border-color: rgb(204 233 231 / 1);
        --tw-text-opacity: 1;
        color: rgb(204 233 231 / 1);
        width: 190px;
      }
    }
  }
}
