@include mq {
  .Participate {
    position: relative;
    background-color: #000000;
    // background-image: url("../assets/home_bg.png");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    > [data-radix-scroll-area-viewport] {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;

      > div {
        min-height: 100%;
        display: flex !important;
        display: none;
        flex-direction: column;
        align-items: center;
      }
    }

    .content {
      // padding: 0 50px;
      display: flex;
      // align-items: center;
      box-sizing: border-box;

      flex: auto;

      flex-direction: column;

      padding-top: 44px;

      .card {
        /* 矩形 3 */
        /* 矩形 3 */

        width: 335px;
        // height: 802.33px;
        border-radius: 9.46px;
        // opacity: 0.8;
        background: #260217;
        margin: 0 auto;
        display: flex;
        margin-top: 38.33px;

        flex-direction: column;

        .top {
          /* 矩形 6 */

          width: 335px;
          height: 335px;

          position: relative;

          /* 矩形 6 */

          .bulr-box {
            /* 矩形 4 */

            position: absolute;
            top: 0px;
            width: 100%;
            height: 100%;

            /* 矩形 4 */

            /* 矩形 4 */

            border-radius: 3.15px;
            opacity: 1;

            box-sizing: border-box;
            border: 0.63px solid #f58c00;

            filter: blur(6.31px);
          }

          .model {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            border-radius: 3.15px;
            opacity: 1;

            box-sizing: border-box;
            border: 0.32px solid #f58c00;

            img {
              /* 1 */
              width: 258px;
              height: 254.67px;
              opacity: 1;
            }
          }
        }

        .bottom {
          [data-radix-scroll-area-viewport] {
            // > div {
            // }
          }

          .inputContent {
            padding: 23px 30px;
            display: flex;
            flex-direction: column;
            .title {
              /* NODEBOX */

              font-family: Raleway-Bold;
              font-size: 18px;
              font-weight: bold;
              line-height: normal;
              letter-spacing: 0em;

              font-feature-settings: "kern" on;
              color: #f58c00;
            }

            .des {
              /* GoWrap is a cutting-edge cross-chain DeFi protocol tailored for BRC20. It's designed to integrate BRC20 seamlessly into the broader blockchain ecosystem by offering features like AMM swapping, liquidity mining, and lending. The goal is to enable cross-chain interoperability for BRC20 and provide a comprehensive suite of decentralized financial services, enhancing their functionality and utility across various blockchain networks. OG PASS Whitelists are granted to Gowrap's early community supporters. OG PASS holders are entitled to a portion of the 1% $GWGW airdrop from the total supply and enjoy fee discounts on all Gowrap products. */

              font-family: Raleway-Medium;
              font-size: 12px;
              font-weight: 500;
              line-height: normal;
              letter-spacing: 0em;

              font-feature-settings: "kern" on;
              color: #eaeaea;

              z-index: 0;

              margin-top: 23px;
            }

            .num_tip,
            .quantity {
              > span {
                /* Total Supply:1000 */

                opacity: 0.5;

                font-family: Raleway-Bold;
                font-size: 10px;
                font-weight: bold;
                line-height: 8.83px;
                letter-spacing: 0em;

                font-feature-settings: "kern" on;
                color: #f58c00;
              }
            }

            .num_tip {
              display: flex;

              margin-top: 4px;
            }
            .quantity {
              margin-top: 10px;
              display: flex;
              justify-content: space-between;
            }

            .input {
              /* 矩形 2 */
              display: flex;
              flex-direction: row;
              height: 24.82px;

              margin-top: 23.33px;

              .reduce,
              .add {
                /* - */
                /* 组 37 */
                text-align: center;

                width: 78px;
                height: 100%;

                opacity: 1;

                background: #f58c00;

                opacity: 1;

                font-family: Raleway-Medium;
                font-size: 37.86px;
                font-weight: 600;
                line-height: 24.82px;
                text-transform: uppercase;
                letter-spacing: 0em;

                font-feature-settings: "kern" on;
                color: #ffffff;
              }

              .reduce {
                border-radius: 4.73px 0px 0px 4.73px;
              }

              .add {
                border-radius: 0px 4.73px 4.73px 0px;
              }
              input {
                /* 矩形 2 */

                border-radius: 0;
                opacity: 1;

                background: rgba(245, 140, 0, 0.1);

                box-shadow: 0px 3.93px 39.26px -17px #633800;

                border-color: #f58c00;

                /* 2 */

                opacity: 1;

                font-family: Raleway-Medium;
                font-size: 16px;
                font-weight: 500;
                line-height: normal;
                text-transform: uppercase;
                letter-spacing: 0em;

                font-feature-settings: "kern" on;
                color: #f58c00;

                height: 100%;
                padding: 0 !important;

                text-align: center;

                outline: none;
              }
            }

            .cost-total {
              margin-top: 13px;
              display: flex;
              justify-content: flex-end;
              span {
                &:nth-child(1) {
                  /* Cost: */

                  opacity: 0.5;

                  font-family: Raleway-Medium;
                  font-size: 7.07px;
                  font-weight: 500;
                  line-height: 10.99px;
                  letter-spacing: 0em;

                  font-feature-settings: "kern" on;
                  color: #f58c00;
                }

                &:nth-child(2) {
                  /* 0.51 BTC */

                  opacity: 1;

                  font-family: Raleway-Medium;
                  font-size: 7.07px;
                  font-weight: 600;
                  line-height: 10.99px;
                  letter-spacing: 0em;

                  font-feature-settings: "kern" on;
                  color: #f58c00;
                }
              }
            }

            .buy-btn {
              /* 矩形 2 */
              width: 100%;
              height: 36.67px;
              border-radius: 1.96px;
              opacity: 1;

              background: #f58c00;

              box-sizing: border-box;
              border: 0.39px solid #f58c00;

              box-shadow: 0px 3.93px 39.28px -17px #633800;

              /* Node Completed */

              font-family: Raleway-ExtraBold;
              font-size: 9.33px;
              font-weight: 800;
              line-height: normal;
              text-transform: uppercase;
              letter-spacing: 0em;

              font-feature-settings: "kern" on;
              color: #333333;

              margin-top: 13.33px;
            }
          }
        }
      }
    }
  }

  .ScrollAreaThumb {
    display: none;
  }
}
