@include pq {
  .Participate {
    position: relative;
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;

    > [data-radix-scroll-area-viewport] {
      > div {
        min-height: 100%;
        display: flex !important;
        flex-direction: column;
        align-items: center;
      }
    }

    .content {
      box-sizing: border-box;
      flex: auto;
      padding-top: var(--pc-nav-height);
      margin-bottom: 81px;

      .card {
        /* 矩形 3 */
        max-width: 1680px;
        min-width: 1393px;
        height: 725px;
        border-radius: 9.46px;
        margin-top: 50px;

        padding: 40px 53px;
        background-color: #260217a1;
        border: 1px solid rgba(245, 140, 0, 0.2);

        .left {
          margin-right: 60px;
          flex: 1;

          /* 矩形 6 */

          .bulr-box {
            /* 矩形 4 */

            top: 0px;
            width: 100%;
            height: 100%;

            border-radius: 8.95px;
            opacity: 1;

            box-sizing: border-box;
            border: 2px solid #f58c00;

            filter: blur(10px);
          }

          .model {
            width: 100%;
            height: 100%;

            border-radius: 9.46px;

            border-width: 0.95px;
            background-color: #260217a1;

            border: 0.9px solid rgba(153, 153, 153, 0.5);

            img {
              /* 1 */
              // width: 617.07px;
              // height: 608.95px;
              // transform: scale(1.5);
              opacity: 1;
              animation: rotate 40s linear infinite;
            }
          }
        }

        .right {
          flex: 1;
          .inputContent {
            display: none !important;
            padding: 44px 68px;
            display: flex;
            flex-direction: column;

            .title {
              /* ROOSBOX */

              opacity: 1;

              font-family: Raleway-Bold;
              font-size: 34px;
              font-weight: bold;
              line-height: normal;
              letter-spacing: 0em;

              font-feature-settings: "kern" on;
              color: #f58c00;

              margin-top: 0;
            }

            .des {
              /* GoWrap is a cutting-edge cross-chain DeFi protocol tailored for BRC20. It's designed to integrate BRC20 seamlessly into the broader blockchain ecosystem by offering features like AMM swapping, liquidity mining, and lending. The goal is to enable cross-chain interoperability for BRC20 and provide a comprehensive suite of decentralized financial services, enhancing their functionality and utility across various blockchain networks. OG PASS Whitelists are granted to Gowrap's early community supporters. OG PASS holders are entitled to a portion of the 1% $GWGW airdrop from the total supply and enjoy fee discounts on all Gowrap products. */

              opacity: 1;

              font-family: Raleway-Medium;
              font-size: 18px;
              font-weight: 500;
              line-height: 26.5px;
              letter-spacing: 0em;

              font-feature-settings: "kern" on;
              color: #eaeaea;

              margin-top: 30px;
            }

            .num_tip,
            .quantity {
              > span {
                /* Total Supply:1000 */
                opacity: 0.5;

                font-family: Raleway-Bold;
                font-size: 18px;
                font-weight: bold;
                line-height: 26.5px;
                letter-spacing: 0em;

                font-feature-settings: "kern" on;
                color: #f58c00;
              }
            }

            .num_tip {
              margin-top: 10px;
            }
            .quantity {
              margin-top: 10px;
              display: flex;
              justify-content: space-between;
            }

            .cost-total {
              margin-top: 13px;
              display: flex;
              justify-content: flex-end;
              span {
                &:nth-child(1) {
                  /* Cost: */

                  opacity: 0.5;

                  font-family: Raleway-Medium;
                  font-size: 17.04px;
                  font-weight: 500;
                  line-height: 26.5px;
                  letter-spacing: 0em;

                  font-feature-settings: "kern" on;
                  color: #f58c00;
                }

                &:nth-child(2) {
                  /* 0.51 BTC */

                  opacity: 1;

                  font-family: Raleway-Medium;
                  font-size: 17.04px;
                  font-weight: 600;
                  line-height: 26.5px;
                  letter-spacing: 0em;

                  font-feature-settings: "kern" on;
                  color: #f58c00;
                }
              }
            }
          }

          .rightContent {
            border-radius: 9.46px;
            border: 1px solid rgba(153, 153, 153, 0.5);
            min-height: 645px;

            .boxselect {
              height: 95px;
              button {
                justify-content: flex-start;
                padding-left: 30px;
                span {
                  font-family: Raleway-ExtraBold;
                  font-size: 50px;
                  font-weight: 900;
                  line-height: normal;
                }

                &.active {
                  border-bottom-width: 1px;
                }
              }
            }

            .priceDes {
              height: 127px;
              border-bottom: 1px solid #380522;
              li {
                // width: 33%;
                flex: 1;
                > span:nth-of-type(1) {
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 21px;
                  letter-spacing: 0em;
                  font-family: Raleway-Medium;

                  font-feature-settings: "kern" on;

                  justify-content: flex-start !important;
                  padding-left: 30px;
                }

                > span:nth-of-type(2),
                .btcPrice .price,
                .btcPrice .unit {
                  font-family: Raleway-Bold;
                  font-size: 50px;
                  line-height: normal;
                  letter-spacing: 0em;
                  font-feature-settings: "kern" on;

                  margin-top: 10px;
                }
                .btcPrice .unit {
                  font-size: 25px;
                }

                padding-left: 30px;
              }
              .line {
                width: 1px;
                height: 106px;
                opacity: 1;
                background-color: #380522;
              }
            }

            .content-bottom {
              padding: 0 30px;
              padding-bottom: 27.43px;
              > span {
                &:nth-child(1) {
                  font-family: Raleway-Bold;
                  font-size: 32px;
                  letter-spacing: 0em;
                  font-feature-settings: "kern" on;
                  color: #f58c00;
                  margin-top: 31px;
                }
              }

              .rightsAndInterests {
                min-width: 549px;
                white-space: normal !important;
                font-family: Raleway-Medium;
                font-size: 18px;
                font-weight: 500;
                line-height: 26.5px;
                letter-spacing: 0em;
                margin-top: 25px;
              }
            }
          }

          .buy-btn {
            /* 矩形 2 */
            width: 100%;
            height: 59.57px;
            border-radius: 4.73px;
            opacity: 1;

            background: #f58c00;

            box-sizing: border-box;
            border: 0.95px solid #f58c00;

            box-shadow: 0px 9.46px 94.64px -17px #633800;

            /* BUY NOW */

            opacity: 1;

            font-family: Raleway-ExtraBold;
            font-size: 15.14px;
            font-weight: 800;
            line-height: normal;
            text-transform: uppercase;
            letter-spacing: 0em;

            font-feature-settings: "kern" on;
            color: #333333;

            // margin-top: 40px;
          }

          .custom_input {
            /* 矩形 2 */
            display: flex;
            flex-direction: row;
            height: 60px;

            margin-top: 20px;

            .reduce,
            .add {
              /* - */
              /* 组 37 */
              text-align: center;

              width: 78px;
              height: 60px;

              opacity: 1;

              background: #f58c00;

              opacity: 1;

              font-family: Raleway-Medium;
              font-size: 37.86px;
              font-weight: 600;
              line-height: 60px;
              text-transform: uppercase;
              letter-spacing: 0em;

              font-feature-settings: "kern" on;
              color: #ffffff;
            }

            .reduce {
              border-radius: 4.73px 0px 0px 4.73px;
            }

            .add {
              border-radius: 0px 4.73px 4.73px 0px;
            }
            input {
              height: 100%;
              border-radius: 0;
              opacity: 1;

              background: rgba(245, 140, 0, 0.1);

              box-shadow: 0px 9.46px 94.64px -17px #633800;

              border-color: #f58c00;

              /* 2 */

              opacity: 1;

              font-family: Raleway-Medium;
              font-size: 38px;
              font-weight: 500;
              line-height: normal;
              text-transform: uppercase;
              letter-spacing: 0em;

              font-feature-settings: "kern" on;
              color: #f58c00;

              text-align: center;

              outline: none;
            }
          }
        }
      }
    }
  }
}
