@include mq {
  .Profile {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: var(--mb-nav-height);
    .nav {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      overflow-y: hidden;
      min-height: 44px;
      li {
        /* my node box */
        font-family: Raleway-Bold;
        font-size: 14px;
        font-weight: bold;
        line-height: 44px;
        text-transform: capitalize;
        letter-spacing: 0em;

        font-variation-settings: "opsz" auto;
        color: #999999;

        z-index: 0;

        text-wrap: nowrap;
        white-space: nowrap;
        padding: 0 15px;

        &.active {
          border-bottom: 1px solid #f58c00;
          color: #f58c00;
        }
      }
    }

    .content_scroll {
      flex: auto;
      // height: 100vh;
      > [data-radix-scroll-area-viewport] {
        > div {
          width: 100%;
          // padding-top: 15px;
        }
      }
      .content {
        padding: 0 15px;
        .myNodeBox {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          padding-top: 15px;
          .boxItem {
            display: flex;
            flex-direction: column;
            width: 50%;
            box-sizing: border-box;
            padding-right: 7px;
            margin-bottom: 15px;
            &:nth-of-type(2n) {
              padding-left: 7px;
              padding-right: 0;
            }

            > img {
              /* 矩形 3 */

              /* 矩形 3 */
              width: 165px;
              aspect-ratio: 165 / 152.42;
              border-radius: 5px;
              opacity: 0.8;

              background: #260217;

              box-sizing: border-box;
              border: 1px solid rgba(245, 140, 0, 0.2);
            }
            .boxDes {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0 5px;
              margin-top: 12px;
              > span {
                &:nth-of-type(1) {
                  /* ROOS NODEBOX */

                  font-family: Raleway-Bold;
                  font-size: 12px;
                  font-weight: bold;
                  line-height: normal;
                  letter-spacing: 0em;

                  font-variation-settings: "opsz" auto;
                  font-feature-settings: "kern" on;
                  color: #eaeaea;

                  z-index: 0;
                }

                &:nth-of-type(2) {
                  font-family: DINPRO-MEDIUM;

                  opacity: 0.6;

                  font-size: 14px;
                  font-weight: 500;
                  line-height: normal;
                  text-transform: capitalize;
                  letter-spacing: 0em;

                  font-variation-settings: "opsz" auto;
                  color: #eaeaea;

                  z-index: 1;
                }
              }
            }

            .count {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              margin-top: 5px;
              padding: 0 5px;
              > span {
                /* Token Reward */

                font-family: Raleway-Medium;
                font-size: 10px;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0em;

                font-variation-settings: "opsz" auto;
                font-feature-settings: "kern" on;
                color: #999999;

                z-index: 0;

                &:last-of-type {
                  font-family: DINPRO-MEDIUM;
                }
              }
            }
          }
        }

        .referralRewards {
          display: flex;
          flex-direction: column;
          padding-bottom: 25px;
          padding-top: 15px;
          > .title {
            /* My recommendation */

            font-family: Raleway-Bold;
            font-size: 14px;
            font-weight: bold;
            line-height: normal;
            text-transform: capitalize;
            letter-spacing: 0em;

            font-variation-settings: "opsz" auto;
            color: #ffffff;

            z-index: 0;

            margin-top: 25px;
            margin-bottom: 15px;
          }

          .Profile-invite {
            margin-top: 0;
          }

          .teamTab {
            > span {
              &.active {
                font-family: Raleway-Bold;
                color: #f58c00;
                border-bottom: 1px solid #f58c00;
              }
            }
          }

          .recommendation {
            /* 矩形 3 */
            display: flex;
            height: 88px;
            border-radius: 2.41px;
            opacity: 0.8;

            background: #260217;

            border: 1px solid rgba(245, 140, 0, 0.2);

            > .item {
              width: 25%;
              border-right: 1px solid rgba(245, 140, 0, 0.2);
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              .num {
                /* 10 */

                /* 自动布局子元素 */

                font-family: DINPRO-MEDIUM;
                /* 10 */

                font-size: 22px;
                font-weight: 500;
                line-height: normal;
                text-transform: uppercase;
                letter-spacing: 0em;

                font-variation-settings: "opsz" auto;
                color: #eaeaea;

                z-index: 0;
              }
              .text {
                /* Leve1 NFTs */

                /* 自动布局子元素 */

                font-family: Raleway-Medium;
                /* Leve1 NFTs */

                font-size: 10px;
                font-weight: 500;
                line-height: normal;
                text-transform: uppercase;
                letter-spacing: 0em;

                font-variation-settings: "opsz" auto;
                color: #d5d5d5;

                z-index: 1;
                margin-top: 5px;
              }

              &:last-of-type {
                border-right: none;
              }
            }
          }
        }

        // 页面1
        .nftAccessories {
          padding-bottom: 48.5px;
          display: flex;
          gap: 15px;
          flex-direction: column;

          > .accessoriesContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 15px;
            margin-top: 25px;

            > .title {
              font-family: Raleway-Bold;
              font-size: 14px;
              font-weight: bold;
              color: #ffffff;
            }

            > .header {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-start;
              gap: 15px;

              .accessories {
                width: 100%;
              }

              .mining {
                flex: 1;
                width: 100%;
                display: flex;
                flex-direction: column;

                > span {
                  font-family: Raleway-Bold;
                  /* Box Rights */
                  font-size: 14px;
                  font-weight: bold;
                  line-height: normal;
                  text-transform: uppercase;
                  letter-spacing: 0em;

                  font-feature-settings: "kern" on;
                  color: #f58c00;

                  z-index: 0;
                }

                .rightsAndInterests {
                  max-width: 85%;
                  position: static;
                  opacity: 1;

                  font-family: Raleway-Medium;
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 20px;
                  letter-spacing: 0em;

                  font-feature-settings: "kern" on;
                  color: #eaeaea;

                  z-index: 1;

                  margin-top: 10px;
                }
              }
            }
          }

          > .MachineContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 15px;
            width: 100%;

            > .title {
              font-family: Raleway-Bold;
              font-size: 14px;
              font-weight: bold;
              color: #ffffff;
            }
          }
        }

        // 页面2
        .odysseyPoints {
          padding-bottom: 70px;
          display: flex;
          gap: 25px;
          flex-direction: column;

          > .recommendationContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 15px;
            margin-top: 25px;

            > .title {
              font-family: Raleway-Bold;
              font-size: 14px;
              font-weight: bold;
              color: #ffffff;
            }
          }

          > .completionListContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 15px;

            > .title {
              font-family: Raleway-Bold;
              font-size: 14px;
              font-weight: bold;
              color: #ffffff;
            }
          }
        }
      }
    }

    .getNftBox {
      // padding-bottom: 70px;
      // padding-left: 10px;
      // padding-right: 10px;
      padding-top: 25px;
      display: flex;
      gap: 40px;
      flex-direction: column;
    }
  }
}
