@include pq {
  .GetNftBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 964px;

    > div.content {
      width: 100%;
      background: #260217;
      box-sizing: border-box;
      border: 1px solid rgba(245, 140, 0, 0.2);
      border-radius: 10px;
      height: 467px;
      margin-left: 0 !important;
    }

    .emtiyDataIcon {
      /* 无数据 */
      width: 319.92px;
      height: 200px;
      opacity: 1;

      z-index: 0;

      margin-top: 220px;
    }

    > div.btn {
      padding: 22px 119px;
      background: #ffc100;
      box-sizing: border-box;
      border: 1px solid #ffc100;
      border-radius: 9.46px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Raleway-Medium;
      font-size: 20px;
      font-weight: 500;
      color: #000000;
      cursor: pointer;
      margin-top: 50px;
    }
  }
}
