@media (min-width: 768px) {
  .connect_btn {
    // @media (max-width: 1024px) {
    //   display: none;
    // }
    /* 矩形 4 */

    width: 100vw;

    background: #2602175e;

    // box-shadow: 0px 0px 64px 0px #570b36;

    padding: 34px 43px;

    /* 矩形 4 */

    height: 120px;
    // opacity: 0.5;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: auto;

    /* 矩形 4 */

    // margin-top: 119px;

    .Partners {
      margin-right: 10px;
    }
    .Partners,
    .ContactUs {
      // width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        /* Partners: */

        font-family: Raleway-Bold;
        font-size: 32px;
        font-weight: bold;
        line-height: normal;
        text-transform: uppercase;
        letter-spacing: 0em;

        font-feature-settings: "kern" on;
        color: #ffffff;

        margin-right: 40px;
      }

      img {
        /* gitbook.8b149653 */

        /* 自动布局子元素 */
        width: 52px;
        height: 52px;
        opacity: 1;
        margin-right: 50px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .Partners {
      img {
        width: auto;
        height: 40px;
      }
    }
  }

  .connect_btn-m {
    display: none;
  }
}
