@include pq {
  .CustomDialog {
    .click_icon {
      position: absolute;
      left: 1px;
      top: 0px;
      width: 146px;
      height: 146px;
    }

    .roos_logo {
      width: 144.87px;
      height: 57px;
      opacity: 1;

      z-index: 0;

      margin-top: 43px;
    }

    .content_text {
      /* Paid, waiting for confirmation on the chain! Check it later in Personal Center. */

      /* 自动布局子元素 */

      font-family: Raleway-Medium;
      font-size: 18px;
      font-weight: 500;
      line-height: 26.5px;
      letter-spacing: 0em;

      font-feature-settings: "kern" on;
      color: #eaeaea;

      z-index: 0;

      margin-top: 40px;
    }

    .ok_btn {
      /* 组 92 */

      /* 自动布局子元素 */
      width: 307px;
      height: 45px;
      border-radius: 5px;
      opacity: 1;

      box-sizing: border-box;
      border: 0.71px solid #f58c00;

      z-index: 1;

      /* OK */

      font-family: Raleway-Bold;
      font-size: 20px;
      font-weight: bold;
      line-height: normal;
      letter-spacing: 0em;

      font-feature-settings: "kern" on;
      color: #f58c00;

      margin-top: 30px;
    }
  }
}
