@include pq {
  .custom-toast {
    width: 580px;
    min-height: 40px;
    border-radius: 2px;
    opacity: 1;

    box-sizing: border-box;
    border-width: 1px;
    padding: 6px 16px;

    /* 5.反馈/1.Alert警告提示/暗色/默认-提示 */

    > .toast-info-icon {
      /* 矩形 */

      width: 16px;
      height: 16px;

      margin-right: 7px;
    }

    > span {
      /* Text */

      opacity: 1;

      font-family: Raleway-Medium;
      /* Text */

      opacity: 1;

      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;

      /* White/65% */
      // color: rgba(255, 255, 255, 0.65);
    }

    > button {
      padding: 0;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      > svg {
        width: 12px;
        height: 12px;
        color: rgba(255, 255, 255, 0.45);
      }
    }
  }
}
