@include mq {
  .nav_display {
    height: 44px;
  }
  .nav {
    height: 44px;

    .logo {
      width: 60px;
      height: 23.75px;
      margin-left: 25.33px;
    }
    .nav_list {
      display: none;
    }
    .nav_meun {
      margin-right: 20.33px;
      .meun-icon {
        margin-left: 15px;
      }
    }
  }

  .DropdownMenuContent-meun {
    /* 容器 57 */

    /* 矩形 21 */

    width: 375px;
    border-radius: 2px;
    opacity: 1;
    background: #1f1f1f;
    padding: 0 30px;
    padding-top: 11.67px;
    padding-bottom: 37.7px;
    > div {
      height: 54px;

      /* Roosbox */

      /* 自动布局子元素 */
      font-family: Raleway-Medium;
      font-size: 10px;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      letter-spacing: 0em;

      font-feature-settings: "kern" on;
      color: #eaeaea;

      z-index: 0;

      border-bottom: 0.5px solid #333333;
      &:last-of-type {
        border: none;
      }

      &:focus {
        /* Ecosystems */

        /* 自动布局子元素 */

        font-family: Raleway-Mediun;
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        letter-spacing: 0em;

        font-feature-settings: "kern" on;
        color: #f58c00;

        z-index: 0;

        border-bottom: 0.5px solid #f58c00;
      }
    }

    .logo {
      width: 75px;
      height: 29.69px;
    }

    .iconList {
      margin-top: 32px;
      height: 30px;
      > img {
        width: 30px;
        height: 30px;
        margin-right: 30px;
      }
    }
  }
}
