@include mq {
  .nav_display {
    height: 44px;
  }
  .nav {
    height: 44px;

    .logo {
      width: 60px;
      height: 23.75px;
      margin-left: 25.33px;
    }
    .nav_list {
      display: none;
    }
    .nav_meun {
      margin-right: 20.33px;
      .meun-icon {
        margin-left: 15px;
      }
    }
  }
}
