.nav{
  position: fixed;
  top: 0px;
  z-index: 50;
  width: 100%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  display: flex;
  align-items: center;
  background-color: black;
}

.nav_1{
  margin-left: 2.5rem;
  z-index: 10;

  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  color: #c5c8c7;
}


.nav_2{
  /* position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox; */
  display: flex;
  /* min-width: 100%; */
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: auto;
}


.nav_3 {
  margin-right: 2.5rem;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  z-index: 10;
  min-height: 58px;
}

.nav_2_1{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav_2_1 button , .nav_3_1 button{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  gap: 2px;
  border-radius: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  color:#c5c8c7;
  outline: 2px solid transparent;
  outline-offset: 2px;

  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;

  cursor: pointer;

  text-transform: none;

  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
}

.nav_2_1 span{
  user-select: none;
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  color: #c5c8c7;
}

.nav_2_1 svg{
  margin-left: 0.25rem;
  height: 12px;
  width: 13px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  display: block;
  vertical-align: middle;

  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  color: #c5c8c7;
}


.nav_3_1{
  position: relative;
  white-space: nowrap;
}
