@include mq {
  .ReduceAddInput {
    /* 矩形 2 */
    display: flex;
    flex-direction: row;
    height: 36px;

    // margin-top: 15px;

    .reduce,
    .add {
      /* - */
      /* 组 37 */
      text-align: center;

      width: 36px;
      height: 36px;

      opacity: 1;

      background: #f58c00;

      opacity: 1;

      font-family: Raleway-Medium;
      /* - */

      font-family: Raleway-Medium;
      font-size: 20px;
      font-weight: 600;
      line-height: 36px;
      text-transform: uppercase;
      letter-spacing: 0em;

      font-feature-settings: "kern" on;
      color: #333333;
    }

    .reduce {
      border-radius: 3px 0px 0px 3px;
    }

    .add {
      border-radius: 0px 3px 3px 0px;
    }
    input {
      height: 100%;
      border-radius: 0;
      opacity: 1;
      background: rgba(245, 140, 0, 0.1);
      box-shadow: 0px 3.55px 35.49px -17px #633800;
      border-color: #f58c00;

      /* 2 */

      opacity: 1;
      font-family: DINPRO-MEDIUM;
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      letter-spacing: 0em;

      font-feature-settings: "kern" on;
      color: #f58c00;
      text-align: center;
      outline: none;
      padding: 0;
    }
  }
}
