@font-face {
  font-family: "Raleway-ExtraBold";
  src: url('./assets/font/Raleway-ExtraBold.ttf') format('truetype');
}


@font-face {
  font-family: "Raleway-Bold";
  src: url('./assets/font/Raleway-Bold.ttf') format('truetype');
}


@font-face {
  font-family: "Raleway-Medium";
  src: url('./assets/font/Raleway-Medium.ttf') format('truetype');
}
