@include pq {
    .GetNftBox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 50px;

        >div.content {
            width: 100%;
            background: #260217;
            box-sizing: border-box;
            border: 1px solid rgba(245, 140, 0, 0.2);
            border-radius: 10px;
            height: 467px;
        }

        >div.btn {
            padding: 22px 119px;
            background: #F58C00;
            box-sizing: border-box;
            border: 1px solid #F58C00;
            border-radius: 9.46px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Raleway;
            font-size: 20px;
            font-weight: 500;
            color: #000000;
            cursor: pointer;
        }
    }
}